[MASTER]
ignore-paths=migrations
extension-pkg-whitelist=pydantic
jobs=0
load-plugins=pylint.extensions.no_self_use

[MESSAGES CONTROL]
disable=
  super-with-arguments,
  invalid-name,
  missing-docstring,
  no-member,
  no-self-use,
  no-self-argument,
  too-few-public-methods,
  too-many-public-methods,
  too-many-function-args,
  too-many-instance-attributes,
#  duplicate-code,
  c-extension-no-member,
  fixme,
  invalid-overridden-method

[BASIC]
min-public-methods=0
max-line-length=85
max-args=20
